@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    color: '#007D3C' !important;
}
.carousel .slide .legend{
    background: none !important;
    opacity: 1 !important;
}

.react-horizontal-scrolling-menu--scroll-container {    
    overflow-x: hidden !important;    
}